<AuthorizeView>
    <Authorized>
        @* <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form> *@

        <a href="cerrar-sesion">Cerrar Sesion</a>
    </Authorized>
    <NotAuthorized>
        <a href="registrarse">Register</a>
        <a href="iniciar-sesion">Log in</a>
    </NotAuthorized>
</AuthorizeView>
