@page "/crear-cliente"
@inject HttpClient _http
@inject NavigationManager NavManager

<h3>Crear Cliente</h3>

<FormularioCliente Titulo="Crear Cliente" OnValidSubmit="CrearCliente" cliente="@cliente" TextoBoton="Crear Cliente"></FormularioCliente>


@code {
    Cliente cliente = new Cliente();

    async Task CrearCliente()
    {
        var respuesta = await _http.PostAsJsonAsync("http://localhost:5269/api/Cliente/Guardar", cliente);
        if (respuesta.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("index-clientes");
        }
    }
}
