@page "/index-clientes"
@inject HttpClient http


<h3>Cliente</h3>

@if (Clientes is null)
{
    <text>Cargando...</text>
}
else if (Clientes.Count == 0)
{
    <text>No hay personas en la base de Datos</text>
}
else
{
    <div class="row">
        <div class="offset-9 col-3 mb-3">
            <a asp-action="Crear" asp-controller="Inicio" class="btn btn-secondary d-block mx-auto btn-lg">
                Nuevo Cliente
            </a>
        </div>
    </div>

    <div class="row">
        <div class="offset-12">
            <div class="card border">
                <div class="card-header bg-dark">
                    <h3 class="text-white"><strong>Lista de Usuarios</strong></h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblClientes" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>IdCliente</th>
                                    <th>Categoria</th>
                                    <th>NombreCliente</th>
                                    <th>ApellidoCliente</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

@code {
    public List<Cliente>? Clientes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CargarPersonas();
    }

    async Task CargarPersonas()
    {
        //Clientes = await _http.GetFromJsonAsync<List<Cliente>>("http://localhost:5269/api/Cliente/Lista");
    }
}
